body{
    background: url(../img/img/cielo.jpg);
    background-attachment: fixed;
}

#logo{
    border: 1px solid #278fca;
    background-color: #2b76a1;
}

#logo:hover{
    box-shadow: 0px 0px 4px rgb(106, 242, 252);
    cursor:pointer; 
}

#Buscador .icon{
    color: #2b76a1;
}


nav ul li:hover{
    background-color: #2b76a1;
}

.badget{
    background-color: #278fca;
    border: 1px solid  #2b76a1;
}

#about h4{
    background:repeating-linear-gradient(18deg, #5ca7ec, transparent 1%);
}

#login h4{
    background:  repeating-linear-gradient(18deg, #5ca7ec, transparent 1%);
}

form input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{

    background-color: #f2f2f2;
    border: 1px solid #2b76a1;
    box-shadow: 0px 0px 2px #278fca;
}

#scrollTopButton a{
    text-decoration:  none;
    font-size: 16px;
    color: #39a1dd; 
}

.ui-accordion-header{
    background-color: #f2f2f2 !important;
 }

 .ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 100%;
    font-family: arial;  
}

 /*tab active*/
 .ui-accordion-header-active{
    background-color: #278fca !important;
    border-color: #278fca !important;
    
 }
