body{
    background: url(../img/img/cielo.jpg);
    background-attachment: fixed;
}

#logo{
    border: 1px solid #278fca;
    background-color: #2b76a1;
}

#logo:hover{
    box-shadow: 0px 0px 4px rgb(106, 242, 252);
    cursor:pointer; 
}

#Buscador .icon{
    color: #2b76a1;
}


nav ul li:hover{
    background-color: #2b76a1;
}

.badget{
    background-color: #278fca;
    border: 1px solid  #2b76a1;
}

#about h4{
    background:repeating-linear-gradient(18deg, #5ca7ec, transparent 1%);
}

#login h4{
    background:  repeating-linear-gradient(18deg, #5ca7ec, transparent 1%);
}

#login form input[type="text"]:focus,
input[type="password"]:focus{

    background-color: #f2f2f2;
    border: 1px solid #2b76a1;
    box-shadow: 0px 0px 2px #278fca;
}

#scrollTopButton a{
    text-decoration:  none;
    font-size: 16px;
    color: #39a1dd; 
}