
*{
    margin: 0px;
    padding: 0px;
}

/*Font web symbols*/
@font-face{
    font-family: "web-simbols";
    src:url(../fonts/WebSymbols-Regular.otf);
}

.icon{
    font-family: "web-simbols";
}



.clearfix{
    float: none;
    clear: both;
}

#global{
    display: block;
    width: 65%;
    padding: 20px;
    height: auto;
    background-color: white;
    margin: 0px auto;
    margin-top:30px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px #444 ;
}

#logo{
    display: block;
    float: left;
    width: 35%;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-family: verdana, arial;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    margin-bottom:30px;
    transition:  all 300ms;
}



#logo:hover{
    cursor:pointer;
}


#Buscador{
    display: block;
    margin: 20px;   
    width: 25%;
    float:  right;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px #555;

}

#Buscador #find-text{
    height: 45px;
    width: 80%;
    background-color: #f2f2f2;
    border: none;
    text-align: left;
    padding-left: 8px;
    color: black;
}


#Buscador:focus-within{
    background-color: #f2f2f2;
    border: 1px solid gray;
    box-shadow: 0px 0px 4px #222;
}


/*MENU*/

nav{
    display: block;
    width: 100%;
    height: 50px;
    background-color: #333333;
}

nav ul{
    list-style: none;
}

   #menu li{
    float: left;
    transition: all 200ms;
    cursor: pointer;
}



 #menu a{
    display: block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: verdana;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    
}

/*ARTICULOS*/

#content{
    display: block;
    position: relative;
    margin-top: 30px;
}

#posts{
    display: block;
    float: left;
    width: 65%;

}

.post{
    position: relative;
    margin-top: 10px;
}

 h2{
    font-family: arial;
    font-size: 24px;
    color: #333;
    padding-left: 10px;
}

.post span{
    font-family: arial;
    font-size: 16px;
    padding-left: 10px;

    color: rgb(92, 92, 92);
}

.post p{
    font-size:18px;
    margin-top:10px;
    padding: 10px;
    color: #222;
    text-align: justify;
}

.badget{
    display: block;
    position: absolute;
    padding: 10px;
    font-family: arial;
    font-size: 12px;    
    width: auto;
    color: white;
    height: 10px;
    line-height: 10px;
    right: 5%;
    top:5px;
    cursor: pointer;
}

.badget label{
    cursor: pointer;
    transition: all 200ms;
}

.badget:hover{
    background: #222;
    text-shadow: 0px 0px 2px whitesmoke;
}

/*Barra lateral*/
 #sidebar{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width:31%;
}

#about h4{
    margin-bottom: 10px;
    line-height: 10px;
    text-align: center; 
}

#about h4 span{
   background-color: white;
}

#about img{
    width: 100%;
    border-radius: 10px;
}

#about p{
    margin-top: 10px;
    font-size: 14px;
    text-align: justify;
}

#login{
   display: block;
   margin-top: 30px;
   
}

#login h4{
    text-align: center;
    line-height: 10px;
    margin-bottom: 20px;
}

 form{
    padding: 5px;
}
#login h4 span {
   background-color: white;
}

form label{
    font-size: 16px;
    font-weight: 500;
    margin-top:10px;
}

form input[type="text"],
input[type="password"],
input[type="email"]{
    width: 100%;
    margin-top:10px;
    margin-bottom: 10px;
    height: 25px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px #555;
    text-align: left;
    padding-left: 8px;
    color: black;
}



 form input[type="submit"]{
    background-color: #333;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: 1px solid #222;
    color:white; 
}

footer{
    width: 65%;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:20px;
    text-align: center;
    background: #0c2210b3;
    height: 60px;
    box-shadow: 0px 0px 1px #ccc ;
}

footer #Author{
    width: 100%;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

footer #social{
    width: 100%;   
}

footer #Social img{
    width: 35px;
}


.bx-wrapper{
    margin-top: 20px;
}

.bx-wrapper, .bx-viewport{
    height: 250px !important;
}

/*Selector de tema*/
#selector-theme{
    display:block;
    position: fixed;
    height: 100px;
    width: 3%;
    border: 1px solid rgba(238, 217, 217, 0.37);
    background-color:rgba(44, 38, 38, 0.37);
    left: 0%;
    top:45%;
}

#to-green{
    background-color: #20613D;
}

#to-blue{
    background-color:  #2b76a1;
}

#to-red{
    background-color: #e63b3b;
}

#to-green,#to-blue,#to-red{
    border:1px solid whitesmoke;
    height: calc(85%/3);
    margin:2px;
    cursor: pointer;
}

#scrollTopButton{
    display: none;
    position: fixed;
    width: 35px;
    height: 35px;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.753);
    text-align: center;
    line-height: 35px;
    top:93%;
    left:50%;
    transition: all 300ms;
    z-index: 1;
    cursor: pointer;
}

/*in about html */
#box{
    margin-top: 10px;
    float: left;
    width: 66%;
    padding-left: 10px;
}

/*when the tab isn't active*/
.ui-accordion-header{
    background-color: #f2f2f2 !important;
 }

 .ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 100%;
    font-family: arial;  
}

 /*tab active*/
 .ui-accordion-header-active{
    background-color: #20613D !important;
    border-color: #20613D !important;
    
 }

 /*reloj html design*/
 #reloj{
     display: block;
     width: 50%;
     margin: 0px auto;
     height: 60px;
     border: 3px dashed black;
     font-family: helvetica;
     font-size: 30px;
     text-align: center;
 }

 /*Contact form for contact.html*/
#box form{
    width: 80%;
    padding: 11px;
}

#box form select{
    
    width: 50%;
    border: none;
    border: 1px solid #555;
    height: 30px;
}

#box form select:focus{
    border: 1px solid #e63b3b;
    box-shadow: 0px 0px 1px  #e63b3b;
}




